@import './Theme.scss';

.direct-head {
  font-size: 35px;
}

.name-author {
  font-size: 35px;
}
.author-subdata {
  font-size: 20px;
}
.author-data {
  display: flex;
}
.author-detail {
  margin: 20px;

}

.author-image {
  margin: 20px;
  float: left;
  display: inline-block;
}

img.author {
  max-height: 20rem;
  width: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.adapted-work-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

.adapted {
  display: inline-block;
  width: 28.333333333%;
  text-align: center;
  margin: 5%;
  padding-bottom: 2rem;
}

.adapted > h4 {
  font-family: $font-body;
}

.adapted > h5 {
  font-family: $font-body;
}

.impact-sect {
  margin: 20px;
  padding: 20px;
}
