@import './Theme.scss';

.back-button {
    color: $primary-light;
    opacity: .7;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    
    &:hover {
        opacity: 1;
        color: $primary-light;
    }
}

.timeline-wrapper {
    width: 100%;
    color: $white;
}

.timeline-text,
.timeline-image {
    width: calc(50% - 1rem);
    flex-grow: 0;
    flex-shrink: 0;
    padding: 2rem;
}

.timeline-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeline-image > img {
    height: 15rem;
}

.timeline-card {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: $white;
    transition: ease-in-out 0.3s;

    &:hover {
        text-decoration: none;
        color: $white;
        // background-color: rgba(255, 255, 255, 0.1);
        transform: scale(1.05);
    }
    
    &.even {
        > .timeline-text {
            text-align: right;
        }
    }
    
    &.odd {
        flex-direction: row-reverse;
        > .timeline-image {
            text-align: right;
        }
    }
}

.timeline-line {
    width: 1rem;
    flex-shrink: 0;
    margin-right: 1rem;
    border-right: 1px solid $white;
    display: flex;
    align-items: center;
}

.timeline-node {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: $black;
    flex-shrink: 0;
}