@import './Theme.scss';

.back-button {
    color: $primary-light;
    opacity: .7;
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    background: none;
    border: none;
    
    &:hover {
        opacity: 1;
        color: $primary-light;
    }
}

.timeline-wrapper {
    width: 100%;
    color: $white;
}

.timeline-text,
.timeline-image {
    width: calc(50% - 1.5rem);
    flex-grow: 0;
    flex-shrink: 0;
    padding: 2rem;
}

.timeline-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeline-image > img {
    max-height: 15rem;
    max-width: 100%;
}

.timeline-card {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: $white;
    transition: linear 0.3s;

    &:hover {
        text-decoration: none;
        color: $white;
        // background-color: rgba(255, 255, 255, 0.1);
        transform: scale(1.05);

        &> .timeline-line, &> .timeline-line-l, &> .timeline-line-r {
            transform: scale(.95);
        }
    }
    
    &.even {
        > .timeline-text {
            text-align: right;
        }
    }
    
    &.odd {
        flex-direction: row-reverse;
        > .timeline-image {
            text-align: right;
        }
    }
}

.timeline-line {
    width: 1rem;
    flex-shrink: 0;
    border-right: 1.5rem dashed $white;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    display: flex;
    align-items: center;
    transition: linear 0.3s;
}

.timeline-line-l, .timeline-line-r {
    width: 0.5rem;
    flex-shrink: 0;
    transition: linear 0.3s;
}

.timeline-line-l {
    border-right: 0.5rem dashed $white;
}

.timeline-line-r {
    border-left: 0.5rem dashed $white;
}

.timeline-node {
    width: 1rem;
    height: 1rem;
    margin: 0.25rem;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: $black;
    flex-shrink: 0;
}

.decade-blurb {
    min-height: 50vh;
}

.decade-content {
    border-top: 5vh solid transparentize($color: $primary, $amount: 0.5);
    margin-top: -5vh;
}

.decade-green-content {
    background-color: $primary;
    padding-bottom: 0;
}

.timeline-name {
    color: $primary-light;
}

.timeline-year {
    font-family: $font-body;
}

.decade-next-last-parent {
    display: flex;
    width: 100%;
}

.decade-last, .decade-next {
    padding: 10rem;
    position: relative;
    top: 0;
    height: 100%;
    left: 0;
    flex-grow: 1;
    flex-shrink: 1;
    background-size: cover;
    color: $white;
    text-align: center;
    text-decoration: none;
    border: none;

    &:hover {
        color: $white;
        text-decoration: none;
        &>h2, &>h3 {
            transform: scale(1.1);
        }
    }

    &:after {
        transform: translate3d(0, 0, 0);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparentize($black, 0.15);
        opacity: 1;
        z-index: 1;
    }

    &>h2, &>h3 {
        position: relative;
        z-index: 2;
        transition: 0.3s;
    }
    &>h3 {
        font-family: $font-body;
    }
}