.intro-blurb {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 16.6665%;
    padding-right: 16.6665%;
    position: relative;
}

.hero-img {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: -2;
    background-size: cover;

    &:after {
        transform: translate3d(0, 0, 0);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparentize(#031625, 0.15);
        opacity: 1;
        z-index: -1;
    }
}