/* Theme Colors */
$primary: #61892F;
$primary-light: #85C232;
$black: #222629;
$gray: #474B4F;
$gray-light: #6B6E70;
$white: #FFFFFF;

/* Theme Fonts */
$font-title: 'Dancing Script', serif;
$font-heading: 'Merriweather', Helvetica, sans-serif;
$font-body: 'Josefin Sans', Helvetica, sans-serif;