@import './Theme.scss';

#decade-timeline {
    display: flex;
    background-color: $black;

    &:hover {
        .tl-item {
            width: 13.3334%;
        }
    }
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 16.67%;
    height: 65vh;
    min-height: 600px;
    color: $white;
    overflow: hidden;
    transition: width 0.5s ease;
    text-decoration: none !important;
    color: $white !important;

    &:before,
    &:after {
        transform: translate3d(0, 0, 0);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &:after {
        background: transparentize($black, 0.15);
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    &:before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, $black 65%);
        z-index: 1;
        opacity: 0;
        transform: translate3d(0, 0, 0) translateY(50%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    &:hover {
        width: 33.3333% !important;

        &:after {
            opacity: 0;
        }

        &:before {
            opacity: 1;
            transform: translate3d(0, 0, 0) translateY(0);
            transition: opacity 1s ease, transform 1s ease 0.25s;
        }

        .tl-content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.75s ease 0.5s;
        }

        .tl-bg {
            filter: grayscale(0);
        }
    }
}

.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: left;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;

    h1 {
        font-family: $font-heading;
        text-transform: uppercase;
        color: $primary-light;
        font-size: 1.44rem;
        font-weight: normal;
    }
}

.tl-year {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    text-align: center;
    padding: 10px;

    p {
        font-family: $font-body;
        font-size: 1.728rem;
        line-height: 1em;
        margin: 10px;
    }

}

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}

.small {
    font-size: 0.9rem;
    font-weight: bold;
}

@media only screen and (max-width: 1208px) {
    #decade-timeline {
        flex-wrap: wrap;
    }

    .tl-item {
        width: 50%;
        max-height: 33.3333vh;
    }

    .tl-content {
        display: none;
    }
}